/* Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on. */

/* Nav elements */

#logo, a #logo:link, a #logo:visited {
  opacity: 0.3;
  width: 125px;
  padding: 25px;
  z-index: 150;
}

a #logo:hover, a #logo:active {
  opacity: 0.4;
}

a.viewing {
  font-weight: 500;
}

/* Portfolio elements */

#myCarousel {
  padding: 0 75px;
}

.carousel-inner {
  height: 110%;
}

.carousel-control.left, .carousel-control.right {
  background: none;
  z-index: 500;
}

.carousel-caption {
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  text-align: center;
  text-shadow: none;
  color: #999;
  margin: 0 auto;
}

.carousel-indicators {
  display: none;
}

/* Recent elements */

#recent {
  padding: 0 100px;
}

.recent {
  padding-bottom: 50px;
  float: left;
}

.recent img {
  margin-bottom: 25px;
}

/* About elements */

#about img {
  margin-bottom: 25px;
}

#social {
  width: 105px;
  margin: 0 auto;
  padding-top: 10px;
}

#social a {
  font-size: 1.2em;
  text-align: center;
  padding: 0px;
  display: inline-block;
  z-index: 800;
}

/* Default display state */

#recent, #about {
  display: none;
  padding-top: 130px;
  margin-top: -130px;
}
