/* State rules are ways to describe how our modules or layouts will look when in a particular state. Is it hidden or expanded? Is it active or inactive? They are about describing how a module or layout looks on screens that are smaller or bigger. They are also about describing how a module might look in different views like the home page or the inside page. */

/************************ Default display state ************************/

#myCarousel {
  display: none;
}

#recent, #about {
  display: none;
  padding-top: 130px;
  margin-top: -130px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #myCarousel {
      margin-top: 60px;
      padding: 0 100px;
  }
  #about {
      margin-top: 20px;
  }
  h2 {
      font-size: 3em;
  }
  p, nav a {
      font-size: 1.5em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #myCarousel {
    margin-top: 30px;
    padding: 0 125px;
  }
  .carousel-caption {
    margin-top: 30px;
  }
  #about {
    margin-top: 50px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #myCarousel {
    margin-top: 20px;
  }
  .carousel-caption {
    margin-top: 60px;
  }

  #about {
    margin-top: 75px;
  }
}
