* {
    /*margin: 0;
    padding: 0;
    box-sizing: border-box;*/
    font-family: "Source Sans", Helvetica, Arial, sans-serif;
}

body {
    margin-top: 120px;
}

header {
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    position: fixed !important; /* overriding bootstrap */
    top: 0;
    z-index: 100;
}

#logo, a #logo:link, a #logo:visited {
    opacity: 0.3;
    width: 75px;
}

a h1 {
    font-weight: 200;
    margin-top: 25px;
}

a #logo:hover, a #logo:active {
    opacity: 0.4;
}

nav {
    /*display: inline-block;*/
    /*width: calc(100% - 80px);*/
    text-align: right;
    position: absolute;
    top: 65px;
    right: 25px;
}

a:link, a:visited {
    color: #999999;
    font-size: 14px;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 15px;
    margin: 0;
    padding: 0;
}

a:hover, a:active {
    color: #888888;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

nav a, footer a {
    margin-right: 20px !important; /* overriding bootstrap */
    color: #999999;
}

nav a:last-child, footer a:last-child {
    margin-right: 0 !important; /* overriding bootstrap */
}

section, footer {
    padding: 0 50px 20px 50px;
}

footer {
    text-align: center;
}

#about, #contact {
    display: none;
}

#myCarousel {
    z-index: 0;
}

.carousel-control.left, .carousel-control.right {
    background: none;
    z-index: 1000;
}

.carousel-caption {
    position: relative;
    top: -20px;
    left: 0;
    text-shadow: none;
    color: #999;
}

.carousel-indicators {
    display: none;
}

.container {
    height: 200px;
}

.template, .draft, .hide {
  display: none;
}

img {
    width: 100%;
    height: auto;
}

hr {
    margin: 50px 0 30px 0;
}

i {
    margin-right: 15px;
}

i:last-child {
    margin-right: 0;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
